body {
    font-family: Arial, sans-serif;
    background-color: #BCB8C9;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #333;
}

section {
    color: red
}

#inicio {
    font-weight: bold;
}

.emphasis{
    text-align: right;
}