/* Error 404 */
.error-404 {
  background-color: #ffffff;
  color: #2a0010;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 40px;
}

.error-404 h1 {
  font-size: 90px;
  margin-bottom: 20px;
}

.error-404 p {
  font-size: 20px;
  margin-bottom: 40px;
}

.volver-inicio {
  font-size: 18px;
  color: #2a0010;
  text-decoration: underline;
  font-weight: bold;
}

.volver-inicio:hover {
  opacity: 0.7;
}
