# Archivos de sistema (Mac y Windows)
.DS_Store
Thumbs.db

# Archivos temporales de editores de código
*.log
*.tmp
*.bak
*.swp

# Configuración personal de editores
.vscode/
.idea/

# Archivos sensibles
.env

# Carpetas generadas automáticamente (por si usas compiladores más adelante)
dist/
build/

# node_modules si en el futuro usas npm o frameworks JS
node_modules/
